html,body {margin: 0; padding: 0;}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}
#app h1 {
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: rgba(42, 174, 245, 1);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

#app .box {
  border:1px solid #ccc;
  border-radius:5px;
  box-shadow:0 20px 50px rgba(0,0,0,.4);
}